@model IEnumerable<Forum.Models.Question>

@{
    ViewData["Title"] = "DetailsQuestion";

}

@foreach (var a in Model)
{


    <h5>Title</h5>
    <p>
        @a.TitleQuestion
    </p>
    <h4>Question </h4>
    <p>
        @a.BodyQuestion
 
    </p>
    <p>
        <a asp-controller="Home" asp-action="NewAnswer" method="post">Answer this Question</a>
    </p>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    Description Answer
                </th>
                <th>
                    Date
                </th>
                <th>
                    User
                </th>
                <th>
                    Votes
                </th>
                <th>
                    Most correct Answer?
                </th>
              
                <th>
                    Vote
                </th>
                 <th>
                    Select most correct
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in a.Answers)
            {
                <tr>
                    <td>
                        @item.BodyAnswer
                    </td>
                    <td>
                        @item.DateAnswer
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.VoteAnswer
                    </td>
                    <td>
                        @if(@item.IsItMostCorrect)
                        {
                            <button type="submit" asp-action="" method="post" asp-route-answerId="@item.Id">✌️</button>
                        }
                        
                    </td>
                   
                    <td>
                        <a asp-controller="Home" type="submit" asp-action="GetVoteUp" method="post" asp-route-questionId="@a.Id" asp-route-answerId="@item.Id">👍</a>
                        <a asp-controller="Home" type="submit" asp-action="GetVoteDown" method="post" asp-route-questionId="@a.Id" asp-route-answerId="@item.Id">👎</a>
                    </td>
                    <td>
                        <a asp-controller="Home" type="submit" asp-action="MostCorrectAnswer" method="post" asp-route-questionId="@a.Id" asp-route-answerId="@item.Id" >✌️</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
<p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
</p>